// Other examples
// @media screen and (max-width: 1200px) {
//   #wrapper {opacity: 0.4;}
//   body#about {background: url('about-mock-up.png') no-repeat center top;}
// }

// @media screen and (max-width: 320px) {
//   #wrapper {opacity: 0.4;}
//   body#about {background: url('about-mock-up-iphone.png') no-repeat center top;}
// }


// Media query mixin
// - Will probably need to be adjusted
//------------------------------------------------------------------------------

@mixin respond-to($media) {
  @if $media == retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      @content;
    }
  }
  @if $media == phone {
    @media only screen and (max-width: 550px) {
      @content;
    }
    @media screen and (device-aspect-ratio: 40 / 71) {
      @content;
    }
  }
  @if $media == landscape {
    @media only screen and (max-width: 680px) {
      @content;
    }
  }
  @else if $media == tablets {
    @media only screen and (max-width: 940px) {
      @content;
    }
  }
  @if $media == desktop {
    @media only screen and (max-width: 1020px) {
      @content;
    }
  }
  @if $media == large {
    @media only screen and (max-width: 1190px) {
      @content;
    }
  }
  @if $media == ios {
    @media only screen and (max-width: 1024px) and (orientation: landscape), only screen and (max-width: 1024px) and (orientation: portrait) {
      @content;
    }
  }
  @if $media == phone-invert {
    @media only screen and (min-width: 550px) {
      @content;
    }
    @media screen and (not device-aspect-ratio: 40 / 71) {
      @content;
    }
  }
}