// ==========================================================================
// Variables
// ==========================================================================


// ==================================
//           Debugging
// ==================================

$debug-baseline:                 false;
$debug-baseline-type:            stripe; // stroke | stripe
$debug-baseline-stripe-color:    rgba(188, 238, 255, 0.5);
$debug-baseline-stroke-color:    rgba(255, 0, 0, 1.0);
$debug-baseline-offset:          0; // for fine tuning alignment adjustments

$body-width: 960px;
$baseline: 1.5rem;
$columns: 12;
$column-color: rgba(200,0,0,.2);
$baseline-color: rgba(56,255,255,.8);

// These are all automatically calculated
$gutter-width: 20px;  // Change if you like
$gutters: ($columns - 1);
$column-width: $body-width / $columns - $gutter-width;

// -----  End of Debugging  ------



// ==================================
//           Typography
// ==================================

// "measure" should effect line-height
$base-line-height: 1.5; // 16 * 1.54 = 24.64
$base-line-height-granular: ($base-line-height / 2);
$font-size: 112.5; // percentage value (16 * 112.5% = 18px) - scale origin
$font-base: 16 * ($font-size/100); // converts our percentage to a pixel value
$font-weight: normal;
$measure: $font-base * $base-line-height;
// $measure: "";

$font-family:              Cambria, Georgia, "Times New Roman", Times, serif;
$font-family-alt:          Arial, "Helvetica Neue", Helvetica, sans-serif;
$headingthin:              $font-family;
$headingbold:              $font-family;

$tera: 117; // 117 = 18 × 6.5
$giga: 90; // 90 = 18 × 5
$mega: 72; // 72 = 18 × 4
$alpha: 60; // 60 = 18 × 3.3333
$beta: 48; // 48 = 18 × 2.6667
$gamma: 36; // 36 = 18 × 2
$delta: 24; // 24 = 18 × 1.3333
$epsilon: 21; // 21 = 18 × 1.1667
$zeta: 18; // 18 = 18 × 1

$type-scale-unit-value: rem !default;

$ms-base: 1rem;
$ms-ratio: $fourth;

@debug ms-list(1, 10, $ms-base, $ms-ratio);

// -----  End of Typography  ------



// ===============================
//           Colours
// ===============================

// ========== Base  ==========

$white:                   #ffffff;
$black:                   #000000;

// ========== primary  ==========

$light-grey:              #e9e9e9;
$grey:                    #333333;
$mid-grey:                #2c2c2c;
$dark-grey:               #1c1c1c;

// ========== Other  ==========

$body-grey:               $grey;
$bg-grey:                 $light-grey;
$shadow-grey:             $mid-grey;
$border-grey:             $grey;
$border-grey-light:       $light-grey;
$required-grey:           $mid-grey;
$required-red:			  red;
$error-red: 			  red;
$pale-yellow: 			  #fff8bb;

// ========== Colours with context  ==========

$body-color:              $mid-grey;

$header-dark: 			  $black;
$header-mid: 			  $black;
$header-light: 			  $black;

$link-color: 			  $black;
$link-color-light: 		  $border-grey;
$bg-color: 				  $bg-grey;
$shadow-color: 			  $shadow-grey;
$border-color: 			  $border-grey;
$border-color-light: 	  $border-grey-light;
$notification-bubble-bg:  $required-grey;
$error-colour: 			  $error-red;

$table-header: 			  $bg-grey;

$frame-color: 			  $grey;

$focus-color: 			  $black;
$focus-field-color: 	  $pale-yellow;

// -----  End of Colours  ------



// ====================================
//           Device sizes
// ====================================

$phone-w: 				  320px;
$phone-h: 				  480px;
$tab-lw: 				  1024px;
$tab-lh: 				  768px;
$tab-pw: 				  768px;
$tab-ph: 				  1024px;
$desk-w: 				  1600px;
$desk-h: 				  1200px;

// -----  End of Device sizes  ------



// =============================
//           Forms
// =============================

// $radiocheckboxbg:         #93c8f6;
// $radiocheckboxborders:    #7dabd5;

// -----  End of Forms  ------



// ==============================
//           Layout
// ==============================

// $box-padding:             20px;
$border-radius-default:   4px;

// -----  End of Layout  ------



// ============================
//           Grid
// ============================

// $total-columns:           12;
// $column-width:            50px;
// $gutter-width:            40px;
// $grid-padding:            20px;
// $show-grid-backgrounds:   false;
// $container-width:         1119px; // -20px padding each side //1079px

// -----  End of Grid  ------