// NOTE: Nothing imported in this file should ever output actual code. It should
// only import things like variables and mixins.
//
// ==========================================================================
// Variables
// ==========================================================================


// ==================================
//           Typography
// ==================================

// "measure" should effect line-height
$font-base-size-unitless:                               18; // the font size in pixels (no units specified)
$font-base-size-percentage-unitless:                    $font-base-size-unitless/16 * 100; // percentage value (16 * 112.5% = 18px) - scale origin
$font-base-size-percentage:                             $font-base-size-percentage-unitless * 1%;

$base-line-height:                                      1.5; // 16px * 1.5 = 24px
$measure:                                               $font-base-size-unitless * $base-line-height;

$font-family:                                           Cambria, Georgia, "Times New Roman", Times, serif;
$font-family-alt:                                       Arial, "Helvetica Neue", Helvetica, sans-serif;
$headingthin:                                           $font-family;
$headingbold:                                           $font-family;
$font-weight:                                           normal;

// Modular scale
// https://github.com/Team-Sass/modular-scale
//
// Use http://type-scale.com/ or http://modularscale.com/ to determine your
// ratio and choose from here https://github.com/Team-Sass/modular-scale#ratios
$ms-base: 1rem;
$ms-ratio: $fourth;

// Font size list (steps up the modular scale)
$tera:                                                  8; // 117 = 18 × 6.5
$giga:                                                  7; // 90 = 18 × 5
$mega:                                                  6; // 72 = 18 × 4
$alpha:                                                 5; // 60 = 18 × 3.3333
$beta:                                                  4; // 48 = 18 × 2.6667
$gamma:                                                 3; // 36 = 18 × 2
$delta:                                                 2; // 24 = 18 × 1.3333
$epsilon:                                               1; // 21 = 18 × 1.1667
$zeta:                                                  0; // 18 = 18 × 1

$type-scale-unit-value: rem !default;

// -----  End of Typography  ------


// ============================
//           Grid
// ============================

$gutter-width:            20px;
$body-width:              960px;
$columns:                 12;
$column-width: 			  $body-width / $columns - $gutter-width;
$grid-padding:            20px;
$show-grid-backgrounds:   false;

// Bourbon Neat grid settings
// $border-box-sizing: false;
$column: $column-width;
$gutter: $gutter-width;
$grid-columns: $columns;
$max-width: $body-width;

// -----  End of Grid  ------



// ===============================
//           Colours
// ===============================

// ========== Base  ==========

$white:                   #ffffff;
$black:                   #000000;

// ========== primary  ==========

$light-grey:              #e9e9e9;
$grey:                    #333333;
$mid-grey:                #2c2c2c;
$dark-grey:               #1c1c1c;

// ========== Other  ==========

$body-grey:               $grey;
$bg-grey:                 $light-grey;
$shadow-grey:             $mid-grey;
$border-grey:             $grey;
$border-grey-light:       $light-grey;
$required-grey:           $mid-grey;
$required-red:			  red;
$error-red: 			  red;
$pale-yellow: 			  #fff8bb;

// ========== Colours with context  ==========

$body-color:              $mid-grey;

$header-dark: 			  $black;
$header-mid: 			  $black;
$header-light: 			  $black;

$link-color: 			  $black;
$link-color-light: 		  $border-grey;
$bg-color: 				  $bg-grey;
$shadow-color: 			  $shadow-grey;
$border-color: 			  $border-grey;
$border-color-light: 	  $border-grey-light;
$notification-bubble-bg:  $required-grey;
$error-colour: 			  $error-red;

$table-header: 			  $bg-grey;

$frame-color: 			  $grey;

$focus-color: 			  $black;
$focus-field-color: 	  $pale-yellow;

// -----  End of Colours  ------


// ====================================
//           Device sizes
// ====================================

$phone-w: 				  320px;
$phone-h: 				  480px;
$tab-lw: 				  1024px;
$tab-lh: 				  768px;
$tab-pw: 				  768px;
$tab-ph: 				  1024px;
$desk-w: 				  1600px;
$desk-h: 				  1200px;

// -----  End of Device sizes  ------


// =============================
//           Forms
// =============================

// $radiocheckboxbg:         #93c8f6;
// $radiocheckboxborders:    #7dabd5;

// -----  End of Forms  ------


// ==============================
//           Layout
// ==============================

// $box-padding:             20px;
$border-radius-default:   4px;

// -----  End of Layout  ------