// ==================================
//           Typography
// ==================================

// "measure" should effect line-height
$base-line-height:                                      1.5; // 16 * 1.54 = 24.64
$base-line-height-granular:                             ($base-line-height / 2);
$font-size:                                             112.5; // percentage value (16 * 112.5%     = 18px) - scale origin
$font-base:                                             16 * ($font-size/100); // converts our percentage to a pixel value
$font-weight:                                           normal;
$measure:                                               $font-base * $base-line-height;

$font-family:                                           Cambria, Georgia, "Times New Roman", Times, serif;
$font-family-alt:                                       Arial, "Helvetica Neue", Helvetica, sans-serif;
$headingthin:                                           $font-family;
$headingbold:                                           $font-family;

$tera:                                                  117; // 117 = 18 × 6.5
$giga:                                                  90; // 90 = 18 × 5
$mega:                                                  72; // 72 = 18 × 4
$alpha:                                                 60; // 60 = 18 × 3.3333
$beta:                                                  48; // 48 = 18 × 2.6667
$gamma:                                                 36; // 36 = 18 × 2
$delta:                                                 24; // 24 = 18 × 1.3333
$epsilon:                                               21; // 21 = 18 × 1.1667
$zeta:                                                  18; // 18 = 18 × 1

$type-scale-unit-value: rem !default;


// Modular scale
// https://github.com/Team-Sass/modular-scale
//
// Use http://type-scale.com/ or http://modularscale.com/ to determine your ratio

$ms-base: 1rem;
$ms-ratio: $fourth;

@debug ms-list(1, 10, $ms-base, $ms-ratio);

// -----  End of Typography  ------