// ====================================
//           Device sizes
// ====================================

$phone-w: 				  320px;
$phone-h: 				  480px;
$tab-lw: 				  1024px;
$tab-lh: 				  768px;
$tab-pw: 				  768px;
$tab-ph: 				  1024px;
$desk-w: 				  1600px;
$desk-h: 				  1200px;

// -----  End of Device sizes  ------