/* 
*
* State
* ------------------------------------------------------------------------------
* 
*/

.show {
	display: block !important;
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}

.invisible {
	visibility: hidden;
}